NOTION_TOKEN=""
NOTION_PARENT_PAGE=""
ASSEMBLYAI_KEY=""
RAINDROP_TOKEN=""
ANTHROPIC_API_KEY=""
NOTION_DB_SIGNALS=""
NOTION_DB_CONCEPTS=""
NOTION_DB_PRACTITIONERS=""
NOTION_DB_SCENES=""
NOTION_DB_THREADS=""
NOTION_DB_OUTPUTS=""
